streamlit
streamlit_option_menu
gunicorn==19.7.1
scikit-learn==1.2.2
numpy==1.26.4
pandas
plotly
statsmodels==0.14.0
shap  # SHAP for feature importance visualization
matplotlib  # Required for SHAP and other plots
seaborn  # Fix missing module issue for better visualizations
fpdf  # Needed for generating PDF reports
openai  # Required if you use the AI chatbot
